*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: #bfbfbf;
}

/* calculator layout */
.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 12%);
  grid-template-rows: minmax(16%, auto) repeat(5, 12%);
}

/* Ouput area  */
.output {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 16px;
  border-radius: 16px;
  background: #4f4f4f;
  box-shadow: inset 4px 4px 8px #353535, inset -4px -4px 8px #696969;
  /* color: white; */
  /* word-wrap: break-word; */
  word-break: break-all;
  margin-bottom: 8px;
}

.output .previous-operand {
  color: #e9e9e9b6;
  font-size: 1rem;
}

.output .current-operand {
  color: #e9e9e9;
  font-size: 1.1rem;
}

/* button  */
.span-two {
  grid-column: span 2;
}
button {
  margin: 8px;
  cursor: pointer;
  border: none;
  border-radius: 16px;
  background: #bfbfbf;
  box-shadow: 4px 4px 8px #808080, -4px -4px 8px #fefefe;
}

button:hover {
  border-radius: 16px;
  background: linear-gradient(145deg, #acacac, #cccccc);
  box-shadow: 4px 4px 16px #808080, -4px -4px 16px #fefefe;
}
